bower_components
*.gem
*.rbc
Gemfile.lock
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
# jetbrains IDE settings dir
.idea/
# do not commit gems installed locally
vendor/
